{% if rules %}
rules:
{% for rule in rules %}
- rule: {{rule.name}}
{% if rule.type == 'Activate' %}
  steps:
  - intent: {{rule.intent}}
  {% for response in rule.responses %}
  - action: {{response.name}}
  {% if response.form %}
  - active_loop: {{response.name}}
  {% endif %}
  {% endfor %}
{% elif rule.type == 'Submit' %}
  condition:
  - active_loop: {{rule.form}}
  steps:
  - active_loop: null
  {% for action in rule.responses %}
  - action: {{action.name}}
  {% endfor %}
{% endif %}

{% endfor %}
{% endif %}
