{% if stories %}
stories:
{% for story in stories %}
- story: {{story.name}}
  steps:
  - intent: {{story.intent}}
  {% for response in story.responses %}
  - action: {{response}}
  {% endfor %}

{% endfor %}
{% endif %}
