version: "3.1"
{% if stories %}
stories:
{% for story in stories %}
- story: {{story.name}}
  steps:
  - intent: {{story.intent}}
  {% for response in story.responses %}
  - action: {{response.name}}
  {% if response.form %}
  - active_loop: {{response.name}}
  - active_loop: null
  {% endif %}
  {% endfor %}

{% endfor %}
{% endif %}
