eservices
    EServiceHTTP {{ eservice.name }}
        verb: {{ eservice.verb }}
        host: '{{ eservice.host }}'
        {%- if eservice.port %}
        port: {{ eservice.port }}
        {%- endif %}
        {%- if eservice.path %}
        path: '{{ eservice.path }}'
        {%- endif %}
    end
end

