
entities
{%- for entity in entities %}
    Entity {{ entity.name }}
    {%- for sub_entity in entity.sub_entities %}
        {{ sub_entity }}{{ "," if not loop.last else "" }}\n
    {%- endfor %}
    end
{%- endfor %}
end

eservices
    EServiceHTTP {{ service_name }}
        verb: {{ verb }}
        host: '{{ host }}'
        {%- if port %}
        port: {{ port }}
        {%- endif %}
        {%- if path %}
        path: '{{ path }}'
        {%- endif %}
    end