
eservices
    EServiceHTTP {{ service_name }}
        verb: {{ verb }}
        host: '{{ host }}'
        {%- if port %}
        port: {{ port }}
        {%- endif %}
        {%- if path %}
        path: '{{ path }}'
        {%- endif %}
    end