eservices
    EServiceHTTP {{ service_name }}
        verb: {{ verb }}
        host: '{{ host }}'
        {%- if port %}
        port: {{ port }}
        {%- endif %}
        {%- if path %}
        path: '{{ path }}'
        {%- endif %}
    end
end

triggers
{%- for trigger in triggers %}
  {{ trigger.type }} {{ trigger.name }}
  {%- if trigger.type == 'Intent' %}
    {%- for phrase in trigger.phrases %}
      '{{ phrase }}'{{ "," if not loop.last else "" }}
    {%- endfor %}
  {%- elif trigger.type == 'Event' %}
    '{{ trigger.uri }}'
  {%- endif %}
  end
{%- endfor %}
end

dialogues
{%- for dialogue in dialogues %}
    Dialogue {{ dialogue.name }}
        on: {%- for trigger in dialogue.triggers %}{{ trigger }}{%- if not loop.last %}, {% endif %}{% endfor %}
        responses:
            {%- if dialogue.verb == "POST" or dialogue.verb == "PUT" %}
            {%- for response in dialogue.responses %}
                {%- if response.type == "Form" %}
                Form {{ response.name }}
                    {%- for slot in response.slots %}
                        {{ slot.name }}: {{ slot.type }} = HRI('{{ slot.prompt }}'{% if slot.context %}, [{{ slot.context }}]{% endif %}){% if not loop.last %},{% endif %}
                    {%- endfor %}
                    end,
                {%- elif response.type == "ActionGroup" %}
                ActionGroup {{ response.name }}
                    {{ response.service_call }}
                    Speak('{{ response.text }}')
                end
                {%- endif %}
            {%- endfor %}
            {%- elif dialogue.verb == "GET" %}
            {%- for response in dialogue.responses %}
                {%- if response.type == "Form" %}
                Form {{ response.name }}
                    {%- for slot in response.slots %}
                        {{ slot.name }}: {{ slot.type }} = HRI('{{ slot.prompt }}'{% if slot.context %}, [{{ slot.context }}]{% endif %}){% if not loop.last %},{% endif %}
                    {%- endfor %}
                    end,
                {%- elif response.type == "ActionGroup" %}
                ActionGroup {{ response.name }}
                    {{ response.service_call }}
                    Speak('{{ response.text }}')
                end
                {%- endif %}
            {%- endfor %}
            {%- endif %}
    end
{%- endfor %}
end

