from typing import Any, Text, Dict, List

from rasa_sdk import Action, Tracker
from rasa_sdk.forms import FormAction
from rasa_sdk.executor import CollectingDispatcher
from rasa_sdk.events import UserUtteranceReverted, SlotSet, Restarted, Form

import requests

{% for action in actions %}

class {{action.name|replace("_"," ")|capitalize|replace(" ","")}}:

    def name(self):
        return "{{action.name}}"

    def run(self, dispatcher, tracker, domain):
        {% for act in action.actions %}
        {% if act.type == 'SpeakAction' %}
        dispatcher.utter_message(text = "{{act.text}}")

        {% elif act.type == 'FireEventAction' %}
        dispatcher.utter_message(text = 'Send fire event')
        dispatcher.utter_message(text = "{{act.uri}}")
        dispatcher.utter_message(text = "{{act.msg}}")
        {% elif act.type == 'HTTPCallAction' %}

        url = "{{act.host}}:{{act.port}}/{{act.path}}"

        # '[' query_params*=STRING[','] ']' ','
        # '[' path_params*=STRING[','] ']' ','
        # '[' body_params*=STRING[','] ']' ','

        {% endif %}
        {% endfor %}
        return

{% endfor %}
