intents:
{% for intent in intents %}
  - {{intent.name}}
{% endfor %}
{% for event in events %}
  - {{event.name}}
{% endfor %}

{% if entities %}
entities:
{% for entity in entities %}
  - {{entity.name}}
{% endfor %}
{% for entity in pretrained_entities %}
  - {{entity}}
{% endfor %}
{% endif %}

{% if slots %}
slots:
{% for slot in slots %}
  {{slot.name}}:
    {% if slot.type in ['int', 'list', 'dict'] %}
    type: any
    {% elif slot.type in ['float', 'bool'] %}
    type: {{slot.type}}
    {% elif slot.type == 'str' %}
    type: text
    {% endif %}
    influence_conversation: false
    mappings:
    {% for extraction in slot.extract_methods %}
    - type: {{extraction.type}}
    {% if extraction.type == 'from_intent' %}
      intent: {{extraction.intent}}
      value: {{extraction.value}}
    {% elif extraction.type == 'from_entity' %}
      entity: {{extraction.entity}}
    {% endif %}
      conditions:
      - active_loop: {{slot.form}}
      requested_slot: {{slot.name}}
    {% endfor %}

{% endfor %}
{% endif %}

{% if forms %}
forms:
{% for form in forms %}
  {{form.name}}:
    required_slots:
    {% for slot in form.slots %}
    - {{slot}}
    {% endfor %}
{% endfor %}
{% endif %}

{% if actions %}
actions:
{% for action in actions %}
  - {{action["name"]}}
{% endfor %}
{% endif %}

{% if responses %}
responses:
  {% for response in responses %}
  {{response.name}}:
  - text: "{{response.text}}"
  {% endfor %}
{% endif %}

session_config:
  session_expiration_time: 5
  carry_over_slots_to_new_session: false

version: '3.1'
